<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="OraBooks Posting Tests">
            <file>OraBooks_Posting_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks RBAC Tests">
            <file>OraBooks_RBAC_Test.php</file>
            <file>OraBooks_Deploy_Checks_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks CoA Tests">
            <file>OraBooks_COA_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Fiscal Tests">
            <file>OraBooks_Fiscal_Test.php</file>
            <file>OraBooks_Rest_Api_Test.php</file>
            <file>OraBooks_Pwa_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Export Tests">
            <file>OraBooks_Exports_Test.php</file>
            <file>OraBooks_Exports_Ajax_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Auth Tests">
            <file>OraBooks_Auth_Test.php</file>
            <file>OraBooks_TwoFactor_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Customers Tests">
            <file>OraBooks_Customers_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Vendors Tests">
            <file>OraBooks_Vendors_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Inventory Tests">
            <file>OraBooks_Inventory_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks  Bank Reconciliation Tests">
            <file>OraBooks_Bank_Reconciliation_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Commission Tests">
            <file>OraBooks_Commission_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Financial Reports Tests">
            <file>OraBooks_Financial_Reports_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Operational Reports Tests">
            <file>OraBooks_Operational_Reports_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Manual Tax Tests">
            <file>OraBooks_Manual_Tax_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Tax Tests">
            <file>OraBooks_Tax_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Partner Tests">
            <file>OraBooks_Partner_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Notification Tests">
            <file>OraBooks_Notifications_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Observability Tests">
            <file>OraBooks_Observability_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Security Tests">
            <file>OraBooks_Security_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Workflow Tests">
            <file>OraBooks_Workflow_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Event Bus Tests">
            <file>OraBooks_EventBus_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Async Queue Tests">
            <file>OraBooks_AsyncQueue_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Classification Tests">
            <file>OraBooks_Classification_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Audit Tests">
            <file>OraBooks_Audit_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Team Tests">
            <file>OraBooks_Team_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks Organization Tests">
            <file>OraBooks_Organization_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks CSV Imports Tests">
            <file>OraBooks_Csv_Imports_Test.php</file>
            <file>OraBooks_Attachments_Test.php</file>
            <file>OraBooks_Approval_Test.php</file>
            <file>OraBooks_Ai_Review_Test.php</file>
            <file>OraBooks_Ai_Providers_Test.php</file>
            <file>OraBooks_Expenses_Test.php</file>
            <file>OraBooks_Voice_Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
