<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="OraBooks SL-114 Export Tests">
            <file>OraBooks_Exports_Test.php</file>
            <file>OraBooks_Exports_Ajax_Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
