<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="OraBooks SL-114 Export Tests">
            <file>OraBooks_Exports_Test.php</file>
            <file>OraBooks_Exports_Ajax_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-013 Auth Tests">
            <file>OraBooks_Auth_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-021 Customers Tests">
            <file>OraBooks_Customers_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-027 Vendors Tests">
            <file>OraBooks_Vendors_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-034 Inventory Tests">
            <file>OraBooks_Inventory_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-031 Bank Reconciliation Tests">
            <file>OraBooks_Bank_Reconciliation_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-068 Commission Tests">
            <file>OraBooks_Commission_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-074 Financial Reports Tests">
            <file>OraBooks_Financial_Reports_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-075 Operational Reports Tests">
            <file>OraBooks_Operational_Reports_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-081 Manual Tax Tests">
            <file>OraBooks_Manual_Tax_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-305 Tax Tests">
            <file>OraBooks_Tax_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-013 Partner Tests">
            <file>OraBooks_Partner_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-250 Notification Tests">
            <file>OraBooks_Notifications_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-093 Observability Tests">
            <file>OraBooks_Observability_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-099 Security Tests">
            <file>OraBooks_Security_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-301 Workflow Tests">
            <file>OraBooks_Workflow_Test.php</file>
        </testsuite>
        <testsuite name="OraBooks SL-113 CSV Imports Tests">
            <file>OraBooks_Csv_Imports_Test.php</file>
            <file>OraBooks_Attachments_Test.php</file>
            <file>OraBooks_Approval_Test.php</file>
            <file>OraBooks_Ai_Review_Test.php</file>
            <file>OraBooks_Expenses_Test.php</file>
            <file>OraBooks_Voice_Test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
